footer {
    height:125px;
    padding:10px;
    /* padding-left:50px; */
    width:100%;
    /* background-color:#333; */
    background-color:rgb(69, 52, 90);
    color:whitesmoke;
    text-align:center;
    font-size:0.7em;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    /* bottom:0; */
}
