header {
    height:3%;
    padding:10px;
    /* padding-left:50px; */
    width:100%;
    /* background-color:rgb(51, 51, 51); */
    background-color:rgb(200, 160, 238);
    color:whitesmoke;
    text-align:center;
    font-size:2em;
    /* display:flex;
    justify-content:space-between; */
    align-items:center; 
    text-shadow: #000 0px 0px 4px;
    -webkit-font-smoothing: antialiased;
}

.logo {
    /* width:20%; */
    margin-left:2.5%;
}


.navbar ul li {
    display:inline-block;
    margin-left:40px;
}

.img-ico {
    transition: transform .2s;
    width:100px;
    height:100px;
}

.img-ico:hover {
    transform: scale(1.5);
}