meter { 
    /* -webkit-appearance: none; */
    width:80%;
    height:15px;
    margin-left:2.5%;
}

meter::-webkit-meter-bar {
    background: #FFF;
    border: 1px solid #CCC;
}

meter::-webkit-meter-optimum-value {
    background: #87C7DE;
    background: -moz-linear-gradient(top, #acf4b1 0%, #74c579 100%);
    background: -webkit-linear-gradient(top, #acf4b1 0%, #74c579 100%);
    background: -o-linear-gradient(top, #acf4b1 0%, #74c579 100%);
    background: -ms-linear-gradient(top, #acf4b1 0%, #74c579 100%);
    background: linear-gradient(to bottom, #acf4b1 0%, #74c579 100%);
}

meter, h3 {
    display:inline-block;
}