.panel {
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
    padding:2.5%;
    width:80%;
    border: 5px solid #acf4b1;
    justify-content:center;
    float:center;
}

.title {
    /* text-decoration: underline #acf4b1; */
    padding-bottom: 7px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

table, th, td {
    text-align: left;
    width:100%;
}


/* CSS taken from https://dev.to/selbekk/how-to-fade-in-content-as-it-scrolls-into-view-10j4 */
.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.7s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}