.panel {
    margin:auto;
    margin-top:5%;
    margin-bottom:5%;
    padding:2.5%;
    width:50%;
    border: 5px solid #acf4b1;
    justify-content:center;
    float:center;
}

.title {
    /* text-decoration: underline #acf4b1; */
    padding-bottom: 7px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}